
.diff {width: 100%;}
.diff table {border-collapse:separate;border-spacing:0px;width: 100%;}
.diff table td, .diff table th {padding: 1px;}

.content {color:#000;}

.del {background-color:#fdd;padding-left:60px;padding: 2px 0px;}
.add {background-color:#bfb;padding-left:60px;padding: 2px 0px;}
.unc {background-color:#fff;padding-left:60px;padding: 2px 0px;}
.msg {background-color:#ffb;color:#f00;font-style:italic;}
.warn {background-color:#ffb;color:#f00;font-style:italic;}

/* 
 * Draw the boxes around blocks of changed content. 
 */
.add .content {border-left:1px solid #393;border-right:1px solid #393;border-color: #393;}
.del .content {border-left:1px solid #933;border-right:1px solid #933;border-color: #933;}
.start-chg .content {border-top-width: 1px;border-top-style:solid;}
.end-chg .content {border-bottom-width: 1px;border-bottom-style:solid;}

/* Control characters like tab and space have a class "ctrl" */
.content span.ctrl {color: #f33;}
.content .ctrl {visibility:hidden;}
.show-ctrl .content .ctrl {visibility:visible;}

td.line-number {
	border-color: #D7D7D7 #999999 #999999 #D7D7D7 ;
	border-style:solid;
	border-width:1px;
	color:#538393;
	padding: 0 3px;	
	text-align:right;
	vertical-align:top;
	background-color:#CCCCCC;
}

.diff .new {
	font-weight: normal;
	float: none;
}
.diff .filename {
	font-weight: bold;
}

/* whitespace: pre-wrap is not supported by IE (all versions). TODO: improve IE support */
.diff th, .diff td {font-family: "Courier New", Courier, monospace;font-size:11px;line-height:14px;}
.diff table td.content {white-space:pre-wrap;}
.file {background-color:#eee;border: 1px solid #bbb; padding: 2px; margin-top: 4px;}